---
Checks: '-*,
        -clang-diagnostic-error,
		clang-diagnostic-*,
		clang-analyzer-*,
		clang-analyzer-cplusplus.Move,
		bugprone-assert-side-effect,
		bugprone-assignment-in-if-condition,
		bugprone-bad-signal-to-kill-thread,
		bugprone-bitwise-pointer-cast,
		bugprone-bool-pointer-implicit-conversion,
		bugprone-branch-clone,
		bugprone-chained-comparison,
		bugprone-dangling-handle,
		bugprone-exception-escape,
		bugprone-forwarding-reference-overload,
		bugprone-inaccurate-erase,
		bugprone-inc-dec-in-conditions,
		bugprone-infinite-loop,
		bugprone-integer-division,
		bugprone-macro-parentheses,
		bugprone-macro-repeated-side-effects,
		bugprone-misplaced-operator-in-strlen-in-alloc,
		bugprone-misplaced-pointer-arithmetic-in-alloc,
		bugprone-misplaced-widening-cast,
		bugprone-move-forwarding-reference,
		bugprone-narrowing-conversions,
		bugprone-non-zero-enum-to-bool-conversion,
		bugprone-optional-value-conversion,
		bugprone-parent-virtual-call,
		bugprone-redundant-branch-condition,
		bugprone-reserved-identifier,
		bugprone-shared-ptr-array-mismatch,
		bugprone-spuriously-wake-up-functions,
		bugprone-string-integer-assignment,
		bugprone-suspicious-semicolon,
		bugprone-suspicious-string-compare,
		bugprone-switch-missing-default-case,
		bugprone-tagged-union-member-count,
		bugprone-too-small-loop-variable,
		bugprone-unchecked-optional-access,
		bugprone-undefined-memory-manipulation,
		bugprone-unique-ptr-array-mismatch,
		bugprone-unsafe-functions,
		bugprone-unused-raii,
		bugprone-unused-return-value,
		bugprone-use-after-move,
		cert-dcl58-cpp,
		cert-err34-c,
		cert-err52-cpp,
		cert-err58-cpp,
		cert-err60-cpp,
		cert-flp30-c,
		cert-mem57-cpp,
		cert-oop57-cpp,
		cert-oop58-cpp,
		cppcoreguidelines-avoid-goto,
		cppcoreguidelines-init-variables,
		cppcoreguidelines-misleading-capture-default-by-value,
		cppcoreguidelines-missing-std-forward,
		cppcoreguidelines-prefer-member-initializer,
		cppcoreguidelines-virtual-class-destructor,
		cppcoreguidelines-noexcept-destructor,
		cppcoreguidelines-noexcept-move-operations,
		cppcoreguidelines-noexcept-swap,
		misc-const-correctness,
		misc-definitions-in-headers,
		misc-include-cleaner,
		misc-redundant-expression,
		misc-unconventional-assign-operator,
		misc-unused-parameters,
		misc-unused-using-decls,
		misc-use-anonymous-namespace,
		modernize-loop-convert,
		modernize-make-shared,
		modernize-make-unique,
		modernize-use-emplace,
		modernize-use-override,
		modernize-use-ranges,
		modernize-use-starts-ends-with,
		modernize-use-transparent-functors,
		performance-noexcept-destructor,
		performance-noexcept-move-constructor,
		performance-noexcept-swap
		readability-braces-around-statements,
		readability-else-after-return,
		readability-inconsistent-declaration-parameter-name,
		readability-magic-numbers,
		readability-redundant-inline-specifier,
        readability-redundant-smartptr-get'
#CheckOptions:
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
FormatStyle:     none
SystemHeaders:   false
...
